@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

/* Header */
.header {
  height: 15vh;
  width: 100%;
  background-color: rgba(49, 49, 51, 255);
  border-bottom: 2px solid rgba(229, 229, 229, 255);
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: column;
}

.header .logo {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo img {
  padding: 3px;
  width: 35%;
  height: auto;
}

.titulo {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(229, 229, 229, 255);

}

.navbar {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #fff;
}

.navbar li {
  width: auto;
}

.navbar a {
  text-decoration: none;
  color: rgba(229, 229, 229, 255);
}
/* BANNER */

.banner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.banner-image {
  height: 100%;
  width: 100%;
  background-image: url("../assets/imgs/wp10465178-basketball-pc-wallpapers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid rgba(229, 229, 229, 255);
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

.footer-section1 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: rgba(229, 229, 229, 255);
  flex-direction: column;
}

.footer-section1 .container {
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.footer-section1 .logo {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-section2 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: rgba(229, 229, 229, 255);
  flex-direction: column;
}

.footer-section2 .container {
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.footer-section3 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: rgba(229, 229, 229, 255);
  flex-direction: column;
}

.footer-section3 .container {
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.footer-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.footer-section3 img {
  width: 17.5%;
  margin: auto;
}


/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}